.collapsible {
    width: 75%;
}

.collapsible-question {
    font-weight: bold;
    cursor: pointer;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.collapsible-content {
    cursor: pointer;
    border-radius: 0 0 5px 5px;
    padding: 1%;
    font-size: 14px;
}

