.faq {
    width: 100%;
    height: 100%;
    background: white;

    /* Fonts */
    font-family: Didot, serif;
    font-size: medium;
    color: black;
padding:2%;
}

.faq-title,
.faq-section-1,
.faq-section-2,
.faq-section-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
