.faq {
    width: 100%;
    height: 100%;
    background: #f5f2ea;

    font-size: medium;
    color: black;

    padding: 2.5% 10%;
}

.faq-title,
.faq-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

@media (max-width: 450px) {
    .faq {
        padding: 5% 0 10% 0;
    }
}
