.home {
    width: 100%;
}

.key-west-beach-background {
    width: 100%;
    background: url(../img/key-west-beach.jpg) no-repeat center;
    background-size: cover;
}

.home-section-1,
.home-section-2,
.home-section-3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;
}


.home-section-1 {
    color: white;
    height: 500px;
}

.home-section-2,
.home-section-3 {
    flex-wrap: wrap;
    background: beige;
    height: 300px;
}


.home-section-3 div {
    /* Each div to layout each on half of the page */
    width: 50%;
}


