.location {
    width: 100%;
    height: 100%;
    background: #0c1b0c;

    font-size: large;
    color: white;

    padding: 2.5% 0;
}

.location-title,
.location-section-1,
.location-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.location-title {
    padding-bottom: 2%;
}

.location-section-1 {
    padding-bottom: 2.5%;
}

.location-left {
    flex: 1;
}

.location-right {
    flex: 1;
    flex-direction: column;
}

.location-right span {
    padding-bottom: 5%;
    width: 75%;
}

.location a {
    color: white;
}

.location a:visited {
    color: white;
}

@media (max-width: 450px) {
    .location-title,
    .location-section-1,
    .location-right {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .location-left {
        padding-bottom: 5%;
    }
}
