.nav {
    width: 100%;
    text-align: center;
    background: white;

    font-size: medium;
    color: black;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}
