.rsvp {
    width: 100%;
    background: white;

    /* Fonts */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    color: black;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.rsvp-title,
.rsvp-section-1,
.rsvp-section-2,
.rsvp-section-3 {
    /* Element location */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
