.schedule {
    width: 100%;
    height: 100%;
    background: white;

    font-family: Didot, serif;
    font-size: large;
    color: black;

    padding: 5% 0 0 0;
}

.schedule-title {
    padding: 0 5% 0 5%;
}

.schedule-section-1,
.schedule-section-2,
.schedule-section-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5%;
}

.schedule-left {
    flex: 1;
}

.schedule-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;

}

.schedule-right span {
    font-size: large;
}

.schedule-right .schedule-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;

    padding: 2.5% 0;
}

.schedule-right hr {
    width: 10%;
    margin: 0 0 2.5% 0;
}

.schedule-left + .schedule-right {
    border-left: 2px solid palegoldenrod;
}

.schedule-left h2,
.schedule-left h3 {
    margin: 0 0 1% 0;
}

@media (max-width: 450px) {
    .schedule {
        padding: 5% 0 10% 0;
        font-size: medium;
    }

    .schedule-section-1,
    .schedule-section-2,
    .schedule-section-3 {
        padding: 10% 0 10% 0;
    }

    .schedule-right span {
        padding: 0 5% 2.5% 5%;
        font-size: medium;
    }

    .schedule-right .schedule-item {
        padding-bottom: 15%;
    }
}
