.schedule {
    width: 100%;
    height: 100%;
    background: white;

    font-family: Didot, serif;
    font-size: medium;
    color: black;
}

/* Common Styles */
.schedule-title,
.schedule-section-1,
.schedule-section-2,
.schedule-section-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5%;
}

.schedule-title {
    padding: 5% 0 0 0;
}
.schedule-left {
    flex: 1;
}

.schedule-right {
    flex: 1;
}

hr {
    width:10%;
}
.schedule-left + .schedule-right {
    border-left: 2px solid palegoldenrod;
}
