.travel {
    background: #0c1b0c;
    height: 100%;

    /* Fonts */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    color: white;

    align-items: center;
    justify-content: center;
}

.travel-info {
    padding: 20px 10% 20px 10%;
}

a {
    color: white;
}

.left {
    flex: 1;
}

.right {
    flex: 2;
}
