.travel {
    width: 100%;
    background: #0c1b0c;
    height: 100%;

    font-size: large;
    color: white;

    align-items: center;
    justify-content: center;
    padding: 2.5% 0;
}

.travel-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px 10% 20px 10%;
    font-size: 1.4em;
}

.travel a {
    color: white;
}

.travel a:visited {
    color: white;
}

@media (max-width: 450px) {
    .travel-title h1 {
        margin-bottom: 0;
    }

    .travel-info {
        padding: 0 10% 0 10% !important;
    }
}

