.travel {
    width: 100%;
    background: #0c1b0c;
    height: 100%;

    /* Fonts */
    font-family: Didot, serif;
    font-size: large;
    color: white;

    align-items: center;
    justify-content: center;
    padding:2%;
}

.travel-info {
    padding: 20px 10% 20px 10%;
    font-size:1.4em;
    margin:0 20%;
}

a {
    color: white;
}

.left {
    flex: 1;
}

.right {
    flex: 2;
}

p {
    font-size:1em;
}
